<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="chirag" class="img-fluid" title="chirag warrior"/>
                        </figure>
                          </div>
                    
                    <div class="col-md-6 col-12 main_header_left">
                       <p>Welcome to weather app</p>
                       <h1>I Am A  <span class="text_clr">Mern Stack Developer</span> ,Gamer and A Freelancer</h1>
                       <a href="https://github.com/chiraggupta2350"><button>About me</button></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- footer code -->
      {{>footer}}
</body>

</html>